canvas {
	position:fixed;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}

#title{

	position:fixed;
	top:-4%;
	font-size:5vh;
	transform:translate(-50%,0);
	left:50%;

}
.container {

	outline:solid;
	outline-width:2px;
	background-color:#252525;

}

#currencyDiv {
	position:fixed;
	top: 30%;
	left:2%;
	padding:0px 10px 0px;
	width: 200px;
	
}

#fieldUpgradesDiv {
	position:fixed;
	top: 50%;
	left:2%;
	padding:0px 10px 0px;
	width: 200px;
	
}

#upgradesDiv {
	position:fixed;
	top: 70%;
	left:2%;
	padding:0px 10px 0px;
	width: 200px;
	
}

.title {
	position:relative;
	top:-10%;
	width:100%;
	background-color:#202020;
	text-align:center;
}

#settings {
	
	position:fixed;
	right:2%;
	bottom:2%;
	width: 200px;
	padding:0px 10px 0px;

	
}

body {
	font-family: Verdana;
	background-color: #303030;
}

p {
	color: white;
}

span {
	color: white;
}

